.App {
  font-family: 'Roboto', sans-serif;
  background-image: url('./components/bggg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  min-height: 100vh;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 240px; /* Sidebar open */
  transition: margin-left 0.3s ease;
  width: 100%;
}

.sidebar-closed .content {
  margin-left: 0; /* Sidebar hidden */
}

.top-bar {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Align items vertically */
  padding: 10px;
  

}

.right-side {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar {
  width: 50%; /* Adjust width as needed */
  width: 900px; /* Limit maximum width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  
}

.profile {
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.sidebar-open .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sidebar-closed .card-container {
  display: grid;
  grid-template-columns: 1fr; /* Full width when sidebar is closed */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .content {
    margin-left: 0; /* Ensure full width on smaller screens */
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .right-side {
    width: 100%;
    justify-content: space-between;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 600px) {
  .content {
    padding: 10px;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}
